<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>经典加热</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>2</key>
	<array>
		<string>烧烤</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>3</key>
	<array>
		<string>对流烧烤</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>4</key>
	<array>
		<string>披萨模式</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>5</key>
	<array>
		<string>后背加热</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>6</key>
	<array>
		<string>增强对流</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>7</key>
	<array>
		<string>温和烘焙</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>8</key>
	<array>
		<string>节能烧烤</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>9</key>
	<array>
		<string>全面烧烤</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>10</key>
	<array>
		<string>解冻</string>
		<string>--</string>
		<string>30</string>
	</array>
	<key>11</key>
	<array>
		<string>烧烤烤叉</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>12</key>
	<array>
		<string>对流烤叉</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>101</key>
	<array>
		<string>烤鸡翅</string>
		<string>200</string>
		<string>25</string>
	</array>
	<key>102</key>
	<array>
		<string>烤全鸡</string>
		<string>200</string>
		<string>45</string>
	</array>
	<key>103</key>
	<array>
		<string>烤全鸭</string>
		<string>200</string>
		<string>60</string>
	</array>
	<key>104</key>
	<array>
		<string>牛扒</string>
		<string>220</string>
		<string>18</string>
	</array>
	<key>105</key>
	<array>
		<string>猪扒</string>
		<string>220</string>
		<string>18</string>
	</array>
	<key>106</key>
	<array>
		<string>肉片</string>
		<string>220</string>
		<string>15</string>
	</array>
	<key>107</key>
	<array>
		<string>鱿鱼</string>
		<string>220</string>
		<string>23</string>
	</array>
	<key>108</key>
	<array>
		<string>肉串</string>
		<string>200</string>
		<string>23</string>
	</array>
	<key>109</key>
	<array>
		<string>烤鱼</string>
		<string>200</string>
		<string>23</string>
	</array>
	<key>110</key>
	<array>
		<string>肋排</string>
		<string>200</string>
		<string>30</string>
	</array>
	<key>111</key>
	<array>
		<string>香肠</string>
		<string>200</string>
		<string>15</string>
	</array>
	<key>112</key>
	<array>
		<string>生蚝</string>
		<string>200</string>
		<string>17</string>
	</array>
	<key>113</key>
	<array>
		<string>叉烧</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>201</key>
	<array>
		<string>蛋糕</string>
		<string>160</string>
		<string>50</string>
	</array>
	<key>202</key>
	<array>
		<string>面包</string>
		<string>180</string>
		<string>30</string>
	</array>
	<key>203</key>
	<array>
		<string>披萨</string>
		<string>200</string>
		<string>20</string>
	</array>
	<key>204</key>
	<array>
		<string>布丁</string>
		<string>160</string>
		<string>30</string>
	</array>
	<key>205</key>
	<array>
		<string>曲奇</string>
		<string>170</string>
		<string>15</string>
	</array>
	<key>206</key>
	<array>
		<string>蛋挞</string>
		<string>200</string>
		<string>20</string>
	</array>
	<key>207</key>
	<array>
		<string>蛋黄酥</string>
		<string>180</string>
		<string>22</string>
	</array>
	<key>208</key>
	<array>
		<string>苹果派</string>
		<string>200</string>
		<string>23</string>
	</array>
	<key>209</key>
	<array>
		<string>烧饼</string>
		<string>180</string>
		<string>18</string>
	</array>
	<key>301</key>
	<array>
		<string>玉米</string>
		<string>200</string>
		<string>50</string>
	</array>
	<key>302</key>
	<array>
		<string>红薯</string>
		<string>180</string>
		<string>50</string>
	</array>
	<key>303</key>
	<array>
		<string>土豆</string>
		<string>200</string>
		<string>25</string>
	</array>
	<key>304</key>
	<array>
		<string>茄子</string>
		<string>220</string>
		<string>45</string>
	</array>
	<key>305</key>
	<array>
		<string>南瓜</string>
		<string>200</string>
		<string>23</string>
	</array>
</dict>
</plist>
