<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DeviceOffIcon</key>
		<string>aircleaner_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>aircleaner_connect_on</string>
		<key>DeviceRealImage</key>
		<string>aircleaner_bg</string>
		<key>DeviceName</key>
		<string>空气净化器</string>
		<key>DeviceIcon</key>
		<string>icon_aircleaner</string>
		<key>DeviceType</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>heater_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>heater_connect_on</string>
		<key>DeviceRealImage</key>
		<string>heater_bg</string>
		<key>DeviceName</key>
		<string>热水器</string>
		<key>DeviceIcon</key>
		<string>icon_heater</string>
		<key>DeviceType</key>
		<integer>81</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>led_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>led_connect_on</string>
		<key>DeviceRealImage</key>
		<string>led_bg</string>
		<key>DeviceName</key>
		<string>情意灯</string>
		<key>DeviceIcon</key>
		<string>icon_led</string>
		<key>DeviceType</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>humidifier_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>humidifier_connect_on</string>
		<key>DeviceRealImage</key>
		<string>humidifier_bg</string>
		<key>DeviceName</key>
		<string>加湿器</string>
		<key>DeviceIcon</key>
		<string>icon_humidifier</string>
		<key>DeviceType</key>
		<integer>84</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>toilet_off</string>
		<key>DeviceOnIcon</key>
		<string>toilet_on</string>
		<key>DeviceRealImage</key>
		<string>toilet_bg</string>
		<key>DeviceName</key>
		<string>马桶</string>
		<key>DeviceIcon</key>
		<string>icon_tolit</string>
		<key>DeviceType</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>waterpurifier_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>waterpurifier_connect_on</string>
		<key>DeviceRealImage</key>
		<string>waterpurifier_bg</string>
		<key>DeviceName</key>
		<string>净水器</string>
		<key>DeviceIcon</key>
		<string>icon_waterpurifier</string>
		<key>DeviceType</key>
		<integer>86</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>cooker_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>cooker_connect_on</string>
		<key>DeviceRealImage</key>
		<string>cooker_bg</string>
		<key>DeviceName</key>
		<string>电饭煲</string>
		<key>DeviceIcon</key>
		<string>icon_cooker</string>
		<key>DeviceType</key>
		<integer>87</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>oven_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>oven_connect_on</string>
		<key>DeviceRealImage</key>
		<string>oven_bg</string>
		<key>DeviceName</key>
		<string>烤箱</string>
		<key>DeviceIcon</key>
		<string>icon_oven</string>
		<key>DeviceType</key>
		<integer>88</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>coffee_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>coffee_connect_on</string>
		<key>DeviceRealImage</key>
		<string>coffee_bg</string>
		<key>DeviceName</key>
		<string>咖啡机</string>
		<key>DeviceIcon</key>
		<string>icon_coffee</string>
		<key>DeviceType</key>
		<integer>89</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>hotplate_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>hotplate_connect_on</string>
		<key>DeviceRealImage</key>
		<string>hotplate_bg</string>
		<key>DeviceName</key>
		<string>电磁炉</string>
		<key>DeviceIcon</key>
		<string>icon_hotplate</string>
		<key>DeviceType</key>
		<integer>91</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>blender_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>blender_connect_on</string>
		<key>DeviceRealImage</key>
		<string>blender_bg</string>
		<key>DeviceName</key>
		<string>料理机</string>
		<key>DeviceIcon</key>
		<string>icon_blender</string>
		<key>DeviceType</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>dishwasher_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>dishwasher_connect_on</string>
		<key>DeviceRealImage</key>
		<string>dishwasher_bg</string>
		<key>DeviceName</key>
		<string>洗碗机</string>
		<key>DeviceIcon</key>
		<string>icon_dishwasher</string>
		<key>DeviceType</key>
		<integer>92</integer>
	</dict>
	<dict>
		<key>DeviceOffIcon</key>
		<string>box_connect_off</string>
		<key>DeviceOnIcon</key>
		<string>box_connect_on</string>
		<key>DeviceRealImage</key>
		<string>box_bg</string>
		<key>DeviceName</key>
		<string>小方</string>
		<key>DeviceIcon</key>
		<string>icon_box</string>
		<key>DeviceType</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
